@model DvaWebApp.Models.AlgorithmSettingsModel
@using DvaAnalysis.Committees

@{
    ViewBag.Title = "Choose algorithms";
}


<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>        
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <p style="font-size: 16px">Each deception detection algorithm is split into two parts, a dimensionalizer and a classifier. 
            Each dimensionalizer and classifier are known from machine learning and can be combined as you wish.
            A dimensionalizer is a method used to extract a feature set from a data set of labelled documents.
            A classifier learns a model based on the output from a dimensionalizer and uses the model to classify unlabelled data.</p>
    </div>
</div>
<br/>
<script type="text/javascript" src="@Url.Content("~/js/DeceptionAnalysisScript.js")"></script>
<script>SetAlgoCount('@(Model.AlgorithmSettings.Count)') </script>
<form method="post">
    @for (int i=0; i<Model.AlgorithmSettings.Count; i++)
    {
        <h3>Algorithm @(i+1)</h3>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h4>Select feature set: </h4>
            </div>
            <div class="col-md-4">
                @(Html.DropDownListFor(x => x.AlgorithmSettings[i].SelectedFeatureSet, Model.AlgorithmSettings[i].FeatureSetList, "Select Feature Set", new {@class = "form-control", @id = "FeatureDropDown"+i}))
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h4>Select classification: </h4>
            </div>
            <div class="col-md-4">
                @(Html.DropDownListFor(x => x.AlgorithmSettings[i].SelectedClassification, Model.AlgorithmSettings[i].ClassificationList, "Select Classification", new {@class = "form-control", @id = "ClassificationDropDown"+i}))
            </div>
        </div>
        if (CommitteeExtension.Deprettify(Model.SelectedCommittee).ToString() == "WeightedCommittee")
        {
             <div class="row">
                 <div class="col-md-4 col-md-offset-2">
                     <h4>Select weight: </h4>
                 </div>
                 <div class="col-md-4">
                     @(Html.TextBoxFor(x => x.AlgorithmSettings[i].SelectedWeight, "1", new {@class = "form-control", @type = "number", @step="0.01", @min="0" }))
                 </div>
             </div>
        }
        <br/>
    }
    <div class="row">
        <div class="col-md-7 col-md-offset-2"></div>
        <div class="col-md-1">
            @Html.Hidden("SelectedCommittee", Model.SelectedCommittee)
            <input id="Submit" type="submit" class="btn btn-default pull-right" value="Start" formaction="DeceptionAnalysisResult" disabled="disabled"/>
        </div>
    </div>
</form>

